.Menu{
    width: 120px;
    height: 40px;
    padding: 120px 30px;
    background-color: rgb(158, 161, 161);
}

.Box1{
    background-color: rgb(226, 234, 234);
    width: 110px;
    height: 30px;
    text-align: center;
}
.Box2{
    background-color: white;
    width: 110px;
    height: 30px;
    text-align: center;
}
.Box3{
    background-color: rgb(226, 234, 234);
    width: 110px;
    height: 30px;
    text-align: center;
}
.Box4{
    background-color: rgb(226, 234, 234);
    width: 110px;
    height: 30px;
    text-align: center;
}
.Box5{
    background-color: rgb(226, 234, 234);
    width: 110px;
    height: 30px;
    text-align: center;
}
