*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#intro{
    background-color: rgb(236, 241, 245);
    padding: 80px 0;
    margin-bottom: 30px;
}
.intro-body{
    padding-top: 145px;
}

.btn-bg-no-br-blue{
    padding: 5px 30px;
    background-color: rgb(56, 202, 243);
    color: white;
}

.box{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    flex-wrap: wrap;
    display: flex;
}
.container-services{
    background-color:aliceblue;
    padding: 80px 0 ;
    margin-bottom: 40px;
    text-align: center;
}
.box1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:aliceblue;
}
.box2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    padding-left: 30px;
}
.container-team{
    background-color:aliceblue;
    padding: 80px 0 ;
    margin-bottom: 40px;
    text-align: center;
}
.container-gallery{
    padding: 80px 0 ;
    margin-bottom: 40px;
    text-align: center;
}
.gallery-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer{
    background: #fff;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #ebf7fc;
}
#footer .footer-newsletter {
    padding: 50px 0;
    background: #f0f9fd;
    text-align: center;
    font-size: 15px;
}